.b-appointments-cards {
    height: 100%;
    display: grid;

    .appointments-cards {
        &__items {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 24px 21px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px;
            border-radius: 18px;
            background-color: $whiteBg;

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__info {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 700;

                    &-time {
                        margin-left: 12px;
                    }
                }

                &__status {
                    font-size: 14px;
                    line-height: 16px;
                    padding: 4px 14px;
                    border-radius: 6px;

                    &.upcoming {
                        color: $black;
                        background-color: $mintBg;
                    }

                    &.today {
                        color: $white;
                        background-color: $blackBg;
                    }

                    &.past {
                        color: rgba($black, 0.40);
                        background-color: rgba($gray, 0.40);
                    }

                }
            }

            &-middle {
                font-size: 14px;
                line-height: 16px;
                color: $black;

                &__photo {
                    width: 56px;
                    height: 56px;
                    border-radius: 12px;
                    object-fit: cover;
                    margin-bottom: 12px;
                }

                &__name {
                    margin-bottom: 4px;
                }

                &__price {
                    font-weight: 700;
                }
            }

            &-bottom {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &__notfound {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            &-title {
                margin-bottom: 32px;
                font-size: 20px;
            }

            &-btn {
                max-width: max-content;

                .b-btn {
                    font-size: 18px;
                }
            }
        }
    }
}