.b-appointments {
  width: 100%;
  height: fit-content;

  .appointments {
    &-client {
      height: 100%;

      .b-search {
        display: flex;
        max-width: none;
        gap: 24px;
        margin-bottom: 32px;

        @include mediaMax('tablet') {
          flex-direction: column;
          &__appFilters {
            width: 100%;
            margin: 0;
          }
          &__icon {
            top: 20%;
          }
        }

        .search {
          &-input {
            max-width: 390px;
            height: auto;
          }
        }
      }
    }
  }
}
