.auth-reg {
    max-width: 804px;
    width: 100%;
    position: absolute;
    right: -50%;
    top: 30px;
    padding: 40px 50px;
    border-radius: 20px;
    background-color: #FFFFFF;
    -webkit-box-shadow: -5px 7px 29px 16px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -5px 7px 29px 16px rgba(34, 60, 80, 0.2);
    box-shadow: -5px 7px 29px 16px rgba(34, 60, 80, 0.2);
    transition: 0.2s ease;
}

.js-sidebar-open {
    right: 48px;
}