.dashboard {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: start;

  > * {
    min-width: 0;
  }

  &__content {
    min-width: 0;
  }
}

@include mediaMax('tablet') {
  .dashboard {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .b-sidebar {
    max-width: none;
    width: 100%;
  }
}

@include mediaMax('mobile') {
  .dashboard {
    gap: 16px;
  }
}
