.faq {
    margin-bottom: 160px;

    @include mediaMax('tablet') {
        margin-bottom: 80px;
    }

    &__header {
        display: flex;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-item {
            background-color: $whiteBg;
            padding: 25px;
            border-radius: 10px;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            &__arrow {
                position: absolute;
                top: 34px;
                right: 30px;
                transition: transform $transition;

                @include mediaMax('tablet') {
                    max-width: 10px;
                    top: 30px;
                    right: 27px;
                }
            }

            &__title {
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;

                @include mediaMax('tablet') {
                    font-size: 14px;
                    line-height: 16px;
                    padding-right: 30px;
                }
            }

            &__description {
                font-size: 18px;
                line-height: 22px;
                max-width: 865px;
                max-height: 0;
                margin-top: 0;
                overflow: hidden;
                opacity: 0;
                transition:
                    max-height $transition,
                    opacity $transition,
                    margin-top $transition;

                @include mediaMax('tablet') {
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            &.open {
                .faq__list-item__arrow {
                    transform: rotate(180deg);
                }

                .faq__list-item__description {
                    max-height: 500px;
                    opacity: 1;
                    margin-top: 16px;

                    @include mediaMax('tablet') {
                        margin-top: 24px;

                    }
                }
            }
        }
    }
}