.feedback {
    position: relative;
    margin-bottom: 320px;

    @include mediaMax('tablet') {
        margin-bottom: 150px;
    }


    &__header {
        display: flex;
    }

    &__button {
        padding: 25px;
        background-color: $purpleBg;
        border-radius: 18px;
        max-width: 390px;
        width: 100%;
        position: absolute;
        top: 50px;
        right: 30%;
        transform: rotateZ(-3.7deg);

        @include mediaMax('tablet') {
            top: 60px;
            right: 50%;
            transform: translateX(50%) rotateZ(-3.7deg);
            max-width: 280px;
        }
    }
}