.feedback {
    position: relative;

    &__header {
        display: flex;
        margin-bottom: 320px;
    }

    &__button {
        padding: 25px;
        background-color: $purpleBg;
        border-radius: 18px;
        max-width: 390px;
        width: 100%;
        position: absolute;
        top: 12px;
        right: 30%;
        transform: rotateZ(-3.7deg);
    }
}