.header {
    display: flex;
    width: 100%;
    gap: 60px;
    min-height: 60px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 60px;

    .b-btn {

        &,
        &:link,
        &:visited {
            font-size: 14px;
        }
    }

    &__logo {
        p {
            font-size: 20px;
            line-height: 100%;
            font-weight: 700;
        }
    }

    &__menu {
        display: flex;
        gap: 60px;

        &-item {
            a {

                &,
                &:link,
                &:visited {
                    color: $grayLight;
                }

                &:hover {
                    color: $black;
                }
            }
        }
    }

    &__login {
        display: flex;
        gap: 12px;
        margin-left: auto;

        a {

            &,
            &:link,
            &:visited {
                font-weight: 700;
            }
        }
    }
}