.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 100px;
    padding: 0 20px;

    &__logo {
        font-weight: 600;
    }

    &__menu {
        display: flex;
        gap: 20px;
    }
}