.how-to-start {
  position: relative;
  margin-bottom: 160px;

  @include mediaMax('tablet') {
    margin-bottom: 80px;
  }

  &__header {
    display: flex;
    position: relative;
  }

  &__button {
    display: flex;
    min-width: 156px;
    background-color: $blackBg;
    z-index: 60;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    right: 0;
    top: 20px;
    padding: 48px 42px;
    transition: $transition;
    overflow: hidden;

    @media (hover: hover) {
      &:hover {
        padding: 48px 48px;

        span {
          max-width: 144px;
          margin-left: 32px;
          overflow: visible;
          transition: $transition;
        }
      }
    }

    img {
      width: 72px;
      height: 60px;
      object-fit: cover;
    }

    span {
      color: #d2d7db;
      font-size: 32px;
      line-height: 100%;
      font-weight: 700;
      max-width: 0;
      overflow: hidden;
      margin-left: 0;
      transition: $transition;
    }

    @include mediaMax('tablet') {
      top: 140px;
      right: -25px;
      min-width: unset;
      width: 48px;
      height: 48px;
      padding: 0;

      img {
        width: 23px;
        height: 19px;
      }
    }
  }

  &__list {
    position: relative;
    overflow: visible;
    height: 980px;

    @include mediaMax('tablet') {
      margin: 0 -25px;
      height: 620px;
    }

    &-item {
      will-change: transform;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 48px 48px 56px;
      width: 100%;
      min-height: 620px;
      border-radius: 20px;
      position: relative;

      @include mediaMax('tablet') {
        padding: 32px 24px 48px;
        min-height: unset;
        height: 380px;
      }

      &--white {
        background-color: $whiteBg;
        z-index: 10;
      }

      &--mint {
        background-color: $mintBg;
        z-index: 20;
      }

      &--purple {
        background-color: $purpleBg;
        z-index: 30;
      }

      &--black {
        background-color: $blackBg;
        z-index: 40;

        .how-to-start {
          &__list {
            &-item {
              &__header {
                &-step {
                  color: $gray;
                }

                &-title {
                  color: $gray;
                }
              }

              &__content {
                &-title {
                  color: $gray;
                }

                &-description {
                  color: $gray;
                }
              }
            }
          }
        }
      }

      &__header {
        padding-bottom: 56px;
        display: flex;

        &-step {
          font-weight: 700;
          margin-right: 24px;
          max-width: 252px;
          width: 100%;
          font-size: 32px;
          line-height: 1.2;
          color: $black;

          @include mediaMax('tablet') {
            max-width: 63px;
            font-size: 18px;
          }
        }

        &-title {
          margin: 0;

          @include mediaMax('tablet') {
            font-size: 18px;
          }
        }
      }

      &__content {
        &-wrapper {
          display: flex;
          gap: 24px;

          @include mediaMax('tablet') {
            flex-direction: column;
            gap: 32px;
          }
        }

        &:last-child {
          .how-to-start__list-item__content {
            &-title {
              padding-left: 53px;

              @include mediaMax('tablet') {
                padding-left: 40px;
              }

              &:before {
                border-radius: 50%;
                border: 1px solid $whiteBg;
                content: '';
                height: 32px;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 32px;
                background-color: #8cc9d8;
                background-image: radial-gradient(
                    circle at 18% 78%,

                    rgb(115, 237, 194) 0%,

                    rgba(115, 237, 194, 0) 62%
                  ),
                  radial-gradient(
                    circle at 82% 22%,
                    rgb(167, 171, 247) 0%,
                    rgba(167, 171, 247, 0) 62%
                  ),
                  radial-gradient(circle at 50% 50%, rgb(140, 201, 216) 0%, rgb(140, 201, 216) 100%);

                @include mediaMax('tablet') {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }

        &-title {
          position: relative;
          font-weight: 700;
          margin-bottom: 20px;

          @include mediaMax('tablet') {
            margin-bottom: 12px;
          }
        }

        &-description {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
