.how-to-start {
  position: relative;
  margin-bottom: 160px;

  @include mediaMax('tablet') {
    margin-bottom: 80px;
  }

  &__header {
    display: flex;
    position: sticky;
    top: 60px;
    z-index: 1;

    @include mediaMax('tablet') {
      top: 45px;
    }
  }

  &__list {
    position: relative;

    @include mediaMax('tablet') {
      margin: 0 -25px;
    }

    &-item {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 48px 48px 56px;
      width: 100%;
      position: sticky;
      height: 70vh;
      border-radius: 20px;

      @include mediaMax('tablet') {
        padding: 32px 24px 48px;
      }

      &:nth-child(1) {
        z-index: 10;
        top: 160px;

        @include mediaMax('tablet') {
          top: 120px;
        }
      }

      &:nth-child(2) {
        z-index: 20;
        top: 280px;

        @include mediaMax('tablet') {
          top: 200px;
        }
      }

      &:nth-child(3) {
        z-index: 30;
        top: 400px;

        @include mediaMax('tablet') {
          top: 280px;
        }
      }

      &:nth-child(4) {
        z-index: 40;
        top: 520px;

        @include mediaMax('tablet') {
          top: 360px;
        }
      }

      &--white {
        background-color: $whiteBg;
      }

      &--mint {
        background-color: $mintBg;
      }

      &--purple {
        background-color: $purpleBg;
      }

      &--black {
        background-color: $blackBg;

        .how-to-start {
          &__list {
            &-item {
              &__header {
                &-step {
                  color: $gray;
                }

                &-title {
                  color: $gray;
                }
              }

              &__content {
                &-title {
                  color: $gray;
                }

                &-description {
                  color: $gray;
                }
              }
            }
          }
        }
      }

      &__header {
        padding-bottom: 56px;
        display: flex;

        &-step {
          font-weight: 700;
          margin-right: 24px;
          max-width: 252px;
          width: 100%;
          font-size: 32px;
          line-height: 1.2;
          color: $black;

          @include mediaMax('tablet') {
            max-width: 63px;
            font-size: 18px;
          }
        }

        &-title {
          margin: 0;

          @include mediaMax('tablet') {
            font-size: 18px;
          }
        }
      }

      &__content {
        &-wrapper {
          display: flex;
          gap: 24px;

          @include mediaMax('tablet') {
            flex-direction: column;
            gap: 32px;
          }
        }

        &:last-child {
          .how-to-start__list-item__content {
            &-title {
              padding-left: 53px;

              @include mediaMax('tablet') {
                padding-left: 40px;
              }

              &:before {
                border-radius: 50%;

                content: '';
                height: 32px;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 32px;
                background-color: #8cc9d8;
                background-image: radial-gradient(circle at 18% 78%, rgb(115, 237, 194) 0%, rgba(115, 237, 194, 0) 62%), radial-gradient(circle at 82% 22%, rgb(167, 171, 247) 0%, rgba(167, 171, 247, 0) 62%), radial-gradient(circle at 50% 50%, rgb(140, 201, 216) 0%, rgb(140, 201, 216) 100%);

                @include mediaMax('tablet') {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }

        &-title {
          position: relative;
          font-weight: 700;
          margin-bottom: 20px;

          @include mediaMax('tablet') {
            margin-bottom: 12px;
          }
        }

        &-description {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
