.login {
    &__wrapper {
        margin-top: 30px;
        max-width: 800px;
        width: 100%;
        background-color: #fff;
        border-radius: 24px;
        padding: 100px;
    }

    &__title {
        font-size: 32px;
        margin-bottom: 60px;
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;

        &:last-of-type {
            margin-bottom: 48px;
        }
    }

    &__label {
        font-size: 18px;

        line-height: 22px;
        font-weight: 700;
    }

    &__input {
        outline: none;
        border: none;
        background-color: rgba($gray, 0.4);
        height: 48px;
        border-radius: 12px;
        padding: 13px 20px;
        font-size: 18px;
        line-height: 22px;

        &:hover,
        &:focus {
            border: 1px solid #8885FF;
        }

    }
}