.psychologists {
    margin-bottom: 160px;

    &__title {
        margin-bottom: 20px;
    }

    &__item-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
        margin-bottom: 20px;

        .psychologists {
            &__item {
                border-radius: 14px;
                overflow: hidden;

                &-top {
                    min-height: 390px;
                    background-color: $grayDark;
                }

                &-bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px;
                    background-color: $gray;

                    &__method-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;
                    }

                    &__method-tag {
                        font-size: 16px;
                        padding: 10px;
                        background-color: $white;
                        border-radius: 10px;
                    }

                    &__button {
                        width: 100%;
                        font-size: 16px;
                        padding: 7px 45px;
                        margin-top: 80px;
                    }
                }
            }
        }
    }

    &__button {
        justify-self: center;

    }
}