.psychologists {
    margin-bottom: 160px;

    &__header {
        display: flex;
    }

    &__item-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
        margin-bottom: 20px;

        .psychologists {
            &__item {
                border-radius: 18px;
                overflow: hidden;
                position: relative;
                height: fit-content;

                &-image {
                    max-height: 670px;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                    }
                }

                &-content {
                    position: absolute;
                    inset: auto 20px 20px 20px;
                    background-color: $whiteBg;
                    padding: 20px;
                    border-radius: 14px;

                    &__favourites {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        background-color: $whiteBg;
                        top: -40px;
                        left: 20px;
                    }

                    &__arrow {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        background-color: $blackBg;
                        border-radius: 10px;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 20px;
                        top: 20px;
                    }

                    &__name {
                        margin-bottom: 20px;
                        font-weight: 700;
                    }

                    &__experience {
                        margin-bottom: 8px;

                        span {
                            font-weight: 700;
                        }
                    }

                    &__price {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}