.team {
    margin-bottom: 160px;

    @include mediaMax('tablet') {
        margin-bottom: 250px;
    }

    &__header {
        display: flex;
    }

    &__content {
        position: relative;

        &-image {
            max-width: 1410px;
            display: flex;
            max-height: 580px;
            border-radius: 20px;
            overflow: hidden;

            img {
                max-width: 100%;
                object-fit: cover;
            }
        }

        &-join {
            max-width: 392px;
            height: 392px;
            background-color: $purpleBg;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotateZ(-1.2deg);
            right: 0;

            @include mediaMax('tablet') {
                height: 234px;
                top: 110%;
                max-width: 276px;
                right: 5px;
            }

            &__title {
                color: $black;
            }

            &__button {
                width: 100%;
            }
        }
    }
}