.b-sidebar {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    width: 100%;
    background-color: $whiteBg;
    border-radius: 18px;
    padding: 30px;
    gap: 40px;

    .sidebar {
        &__info {
            &-photo {
                margin-bottom: 20px;
                max-width: 114px;
                width: 100%;

                img {
                    max-width: 100%;
                    border-radius: 12px;
                }
            }

            &-name {
                font-weight: 700;
                margin-bottom: 8px;
            }

            &-email {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &__tabs {
            &-item {
                font-size: 18px;
                line-height: 22px;
                padding: 15px 0;

                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }

                &.active {
                    font-weight: 700;
                }
            }
        }
    }
}