.therapy {
    margin-bottom: 160px;

    @include mediaMax('tablet') {
        margin: 0 -25px 80px -25px;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;

        &-button {
            background-color: $whiteBg;
            max-width: 495px;
            width: 100%;
            padding: 15px 50px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            color: $black;
            opacity: 0.8;
            text-align: left;
            font-weight: 700;

            @include mediaMax('tablet') {
                width: 50%;
                max-width: unset;
                padding: 12px 24px;
            }

            &--mint {
                background-color: $mintBg;
            }
        }
    }

    &__content {
        &-item {
            &__description {
                &-wrapper {
                    background-color: $whiteBg;
                    min-height: 318px;
                    display: flex;
                    gap: 24px;
                    padding-top: 44px;
                    padding-right: 60px;
                    border-bottom-left-radius: 20px;

                    @include mediaMax('tablet') {
                        padding: 30px 24px 60px;
                        flex-direction: column;
                        gap: 32px;
                        min-height: 452px;

                    }

                    &--mint {
                        background-color: $mintBg;
                    }
                }

                &-item {
                    img {
                        @include mediaMax('tablet') {
                            max-width: 150px;
                        }
                    }
                }
            }

            &__button {
                max-width: 740px;
                width: 100%;
                margin-left: auto;
                background-color: $whiteBg;
                padding: 25px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;

                @include mediaMax('tablet') {
                    max-width: 220px;
                    padding: 12px 24px 24px;
                }

                &--mint {
                    background-color: $mintBg;
                }

                .b-btn {
                    max-width: 342px;
                    width: 100%;
                }
            }
        }
    }
}