@import './login';
@import './faq';
@import './footer';
@import './header';
@import './howtostart';
@import './ourpsychologists';
@import './partteam';
@import './titlesection';
@import './therapy';
@import './feedback';
@import './about';
@import './filters';
@import './search';
@import './psychologists';
@import './sidebar';
@import './chat';
@import './dashboard';
@import './notifications';
@import './toast';
@import './calendar';
@import './psySchedule';
@import './appointments';
@import './appointments-filters';
@import './appointments-cards';
@import './settings';
@import './errors';
@import './blog';
@import './newsCarousel';
@import './breadcrumbs';