@import './faq';
@import './footer';
@import './header';
@import './howtostart';
@import './ourpsychologists';
@import './partteam';
@import './titlesection';
@import './whytherapy';
@import './authreg';