@font-face {
    font-family: 'Circe';
    src: url('../../public/fonts/Circe-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../public/fonts/Circe-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../public/fonts/Circe-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../public/fonts/Circe-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../public/fonts/Circe-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}