// цвета
$gray: #D2D7DB;
$grayDark: #E4E3E3;
$grayLight: #31323566;
$black: #313235;
$blackBg: #313235;
$white: #fff;
$whiteBg: #fff;
$blue: #6889FF;
$lightbllue: #DDE4FF;
$mint: #B5FEDD;
$mintBg: #B5FEDD;