// импорт медиазапросов
@import './media.scss';

// можно написать любую переменную со значением 👇
$tablet: 1240;
// 1240 - разрешение экрана

// а потом вставить ее в брейкпойт и использовать как медиазапрос через @include
$breakpoints: (
    'tablet': $tablet,
);
// цвета
$gray: #D2D7DB;
$grayDark: #E4E3E3;
$grayLight: #31323566;
$blackFull: #000;
$black: #313235;
$blackBg: #313235;
$white: #fff;
$whiteBg: #fff;
$blue: #6889FF;
$purple: #ACAAFE;
$purpleBg: #ACAAFE;
$lightbllue: #DDE4FF;
$mint: #B5FEDD;
$mintBg: #B5FEDD;
$redBg: #F26F55;
$purpleDark: #6b4c9a;
$grayText: #4a4a4a;

// плавность
$transition: 0.3s ease;