@import './variables';
@import './libs/normalize';
@import './components/all';

.wrapper {
  max-width: 1730px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &:has(.main) {
    .header {
      margin-bottom: 100px;
    }
  }

  @include mediaMax('tablet') {
    padding: 0 25px;
  }
}

.b-btn {
  &,
  a:link,
  a:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $blackBg;
    padding: 12px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    border-radius: 12px;

    @include mediaMax('tablet') {
      font-size: 18px;
      border-radius: 10px;
      padding: 8px;
    }
  }
}

// Loading state for buttons
.b-btn.is-loading {
  opacity: 0.86;
  pointer-events: none;
}

.b-btn__spinner {
  width: 18px;
  height: 18px;
  border-radius: 999px;
  border: 2px solid rgba($white, 0.35);
  border-top-color: rgba($white, 0.95);
  animation: bSpin 0.9s linear infinite;
  margin-right: 10px;
  flex: 0 0 auto;
}

.b-btn--transparent .b-btn__spinner {
  border-color: rgba($black, 0.25);
  border-top-color: rgba($black, 0.75);
}

@keyframes bSpin {
  to {
    transform: rotate(360deg);
  }
}

.b-btn--transparent {
  &,
  a:link,
  a:visited {
    background-color: transparent;
    border: 1px solid #31323566;
    color: $black;
  }
}

.b-tabs {
  .tabs {
    &__nav {
      &-button {
        opacity: 0.8;

        &.active {
          opacity: 1;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__content {
      &-item {
        &:not(.active) {
          display: none;
        }
      }
    }
  }
}

.b-digit {
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  color: $black;
  margin-right: 24px;
  max-width: 252px;
  width: 100%;

  @include mediaMax('tablet') {
    font-size: 28px;
    line-height: 32px;
    max-width: 61px;
  }
}

.label {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  align-items: center;

  &:hover {
    .label__checkbox-custom {
      border: 2px solid rgba($gray, 0.6);
    }
  }

  &__checkbox {
    display: none;

    &:checked + &-custom:before {
      opacity: 1;
    }

    &:checked + .label__checkbox-custom {
      background-color: $blackBg;
      border: 2px solid $blackBg;
    }

    &.error + .label__checkbox-custom {
      border: 2px solid $redBg;
    }
  }

  &__checkbox-custom {
    position: relative;
    display: block;
    min-width: 24px;
    height: 24px;
    border: 2px solid rgba($gray, 0.4);
    border-radius: 3px;
    margin-right: 12px;

    &:before {
      content: url('../assets/img/check.svg');
      position: absolute;
      top: 5px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      max-height: 6px;
      opacity: 0;
    }
  }

  &__text {
    a {
      &,
      &:link,
      &:visited {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        transition: $transition;
        text-decoration: underline;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.smart-captcha {
  min-width: 100% !important;
}

.CaptchaLinks-Links {
  padding-right: 40px !important;
}
