@import './variables';
@import './libs/normalize';
@import './components/all';

.wrapper {
    max-width: 1730px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.b-btn {

    &,
    a:link,
    a:visited {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        background-color: $blackBg;
        padding: 11px;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 400;
        border-radius: 12px;
    }
}

.b-btn--transparent {

    &,
    a:link,
    a:visited {
        background-color: transparent;
        border: 1px solid #31323566;
        color: $black;
    }
}


.b-tabs {
    .tabs {
        &__nav {

            &-button {
                opacity: 0.8;

                &.active {
                    opacity: 1;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__content {
            &-item {
                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}

.b-digit {
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
    color: $black;
    margin-right: 24px;
    max-width: 252px;
    width: 100%;
}