@import './variables';

.swiper-activity {
    overflow: visible;

    .swiper {
        &-slide {
            transition: $transition;

            &-prev {
                transform: rotate(-1.5deg) !important;
            }

            &-next {
                transform: rotate(1.5deg) !important;
            }
        }

        &-pagination {
            bottom: -45px;

            &-bullet {
                background-color: rgba($purpleBg, 0.4);
                opacity: 1;

                &-active {
                    background-color: rgba($purpleBg, 1);
                }
            }
        }
    }
}